[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
monday = "*"
python-dotenv = "*"
pillow = "*"
scikit-learn = "*"
tqdm = "*"
matplotlib = "*"
tensorflow-cpu = "==2.10"
tensorflow-directml-plugin = "*"

[dev-packages]

[requires]
python_version = "3.9"
